.contact {
    background-color: rgb(196, 175, 216);
    padding: 4rem 1rem;
    margin: 8rem 1rem 2rem 1rem;
}

.container-btn {
    text-align: center;
}

.tittle {
    text-align: center;
    margin-bottom: 1rem;
}
//O tittle é usado em todas as páginas criadas que estão no footer

.btn-contact {
    text-align: center;
    width: 150px;
}

