.criar-conta {
  width: 100%;
  max-width: 750px;
  margin: auto;
  padding: 10rem 1rem 3rem;
  background-color: rgb(244, 245, 245);
}

.container-form-conta {
  max-width: 450px;
  margin: auto;
  padding: 1rem 1rem;
}

.container-btn {
  padding-top: 10px;
}

//dica de responsividade: controlar o width em %, max-widht e o margin
