.newsletter {
    align-items: center;
    background-color: rgb(136, 133, 133);
    padding-bottom: 1rem;
    border-bottom:0.2rem solid #000;
    border-bottom-width: thick;
}

.newsletter-col.col {
    padding-top: 1.6rem;
}

.newsletter-text {
    text-align: center;
    padding-top: 1rem;
}

.newsletter {
    .form-text {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    padding-left: 2.8rem;
    margin-top: 2rem;
    }
}

.newsletter {
    .newsletter-form1,
    .newsletter-form2 {
        padding-left: 3rem; 
        width: 18rem;
    }
}

.newsletter-button {
    min-width: 5rem;
    padding-top: 1.2rem;
    margin-left: 2rem;
}

button {
    display:flex;
    background-color: #000;
    color: white;
    font-family: "Open Sans", sans-serif;
    border-radius: 4px;
    font-weight: 600;
    text-align: center;
    margin-top: 1rem;
    padding: 8px 24px;
    transition: 0.3s all ease;
}

button:hover {
    color: #000;
    background: unset;
    border-color: #000;
}