.newsletter {
    align-items: center;
    background-color: rgb(136, 133, 133);
}

.newsletter {
    .form-text {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #fff;
    padding-left: 2rem;
    padding-left: 2.8rem;
    }
}

.newsletter {
    .newsletter-form1,
    .newsletter-form2 {
        padding-left: 3rem; 
    }
}

.newsletter{
    .newsletter-button {
        padding-left: 2rem; 
    }
}
