.sobremarca {
    background-color: rgb(196, 175, 216);
    margin: 7rem 2rem 1rem 2rem;
    padding: 2rem 2rem;
}

.sobremarca p {
    text-align: justify;
}

.sobremarca h2{
    text-align: center;
    padding-bottom: 1rem;
}

.fundadoras{
    padding-bottom: 2rem;
}

.image-sobremarca {
    width:32rem;
    height: 80%;
}