@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.main {
    margin-top: 100px;
}

.color {
    background-color: rgb(196, 175, 216);
    height: 50px;
}

.main-text {
    height: 150px;
    background-color:#8c9aa8;
}

.main-text h1 {
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    text-align: center;
    padding-top: 60px;
    color: white;
   
}